<!DOCTYPE html>
<html>
  <head>
    <title>Deploy com alunos do torne-se um programador</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>=*** Deploy com alunos do torne-se um programador ***= </h1>
    <p>Bem vindo alunos do torne-se um programador</p>

    <div>
      Deseja comprar este celular ?<br>
      Clique aqui e me chame no whatsapp <a href="https://api.whatsapp.com/send?phone=5511999999999&text=Ol%C3%A1%20fiquei%20interessado%20em%20comprar%20o%20seu%20celular" target="_blank">11 99999-9999</a>
    </div>
    <img src="https://www.casasbahia-imagens.com.br/TelefoneseCelulares/Smartphones/iPhone/55005294/1267946610/iphone-11-apple-com-128gb-tela-retina-hd-de-61-ios-13-dupla-camera-traseira-de-12-mp-resistente-a-agua-e-bateria-de-longa-duracao-branco-55005294.jpg">
  </body>
</html>
